@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    line-height: 1.7;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img{
    width:100%;
    height:auto;
    display:block;
}
a{
    text-decoration: none;
    color: black;
  }
ul{
    list-style: none;
}
.wrapper {
    padding: 1rem;
    overflow-x: hidden;

    & > :nth-child(1) {
        margin-bottom: 1rem;
    }
}

// VARIABLES
html {
    --cFontMedium: #4A4B4D;    
}
