
.card {
    width: 88px;
    height: 113px;
    
    &__img {
        height: 88px;
        width: 88px;
        object-fit: cover;
        border-radius: 10px;
    }
    &__heading {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: #4A4B4D;
        padding-top: .3rem;
    }
}